
/* HEADER SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name {
  padding-left: 2rem;
}
.nav-bar {
  font-size: 1.7rem;
  font-weight: bolder;
  
}
.nav-bar-anchors {
 padding-right: 2rem;
 text-decoration: none;
 color: black;
}